@import '../../variables.scss';

.AlarmBanner {
  flex-shrink: 1;
  flex-basis: 33rem;
  height: 100%;

  table {
    padding: 2px 0;
    width: 100%;
    text-transform: uppercase;

    tr {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 $side-padding;

      &.high {
        animation: yellow-blink-animation 3s infinite;
        background-color: yellow;
      }

      &.very-high {
        animation: red-blink-animation 3s infinite;
        background-color: red;
      }

      td {
        padding-left: 4px;
        font-weight: 600;
        font-weight: 1.2rem;
      }
    }
  }
}
