@import '../../variables.scss';

.AlarmBanner {
  border-bottom: 2px solid gray;

  table {
    padding: 2px 0;
    width: 100%;
    text-transform: uppercase;

    tr {
      &.high {
        animation: yellow-blink-animation 3s infinite;
        background-color: yellow;
      }

      &.very-high {
        animation: red-blink-animation 3s infinite;
        background-color: red;
      }

      td {
        padding-left: 4px;
        font-weight: 600;
        font-weight: 1.2rem;
      }
    }
  }
}
