* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
}

.App-header {
  border-bottom: 2px solid gray;
  height: 2.6rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-header > h1 {
  color: rgb(3, 59, 59);
}

.App-header > h3 {
  border: 1.5px solid grey;
  border-radius: 7px;
  font-weight: 400;
  padding: 0.2rem 1rem;
  cursor: pointer;
  transition: all 0.7s ease-out;
}

.App-header > h3:hover {
  background-color: rgb(3, 59, 59);
  color: white;
}
