@import '../../variables.scss';

.Container {
  width: 100%;
  padding: 5px $side-padding 7px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  .el {
    background-color: lighten($color: gray, $amount: 45);
    flex-grow: 1;

    display: grid;
    grid-template-rows: repeat(100, 1fr);
    grid-template-columns: repeat(100, 1fr);
  }
}
