.LiveStream {
  background: paleturquoise;
  display: flex;
  display: inline-block;
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  grid-column-start: 20;
  grid-column-end: 61;
  grid-row: 1 / 51;
}
